<% provide(:title,"About")%>

  <h1>About</h1>
  <p>
   get help on the Ruby on Rails Tutorial at the
   <a herf="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
  
   To get help on this sample app, see the 
   <a href="https://railstutorial.jp/#ebook"><em>Ruby on Rails Tutorial</em>book</a> and
   <a href="https:..railstutorial.jp/screencast">screencast</a>
  
   To teach web development with
   <a href="https://railstutorial.org/">Ruby on Rails</a>
   This is the sample application for the tutorial.
  </p>
